### Identifier les valeurs aberrantes dans `products.csv`

Utiliser `pandas` pour charger et analyser les données du fichier CSV `products.csv`. Repérer les valeurs aberrantes (ordre de grandeur : quelques centaines).

In [1]:
from pathlib import Path

import pandas as pd

In [2]:
DATA_DIR = Path("../../data")
product_file_path = DATA_DIR / "products.csv"

In [3]:
product_df = pd.read_csv(product_file_path, low_memory=False)

In [4]:
product_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 320772 entries, 0 to 320771
Data columns (total 10 columns):
 #   Column              Non-Null Count   Dtype
---  ------              --------------   -----
 0   Unnamed: 0          320772 non-null  int64
 1   code                320749 non-null  object
 2   fat_100g            243891 non-null  float64
 3   saturated-fat_100g  229554 non-null  float64
 4   sugars_100g         244971 non-null  float64
 5   fiber_100g          200886 non-null  float64
 6   proteins_100g       259922 non-null  float64
 7   salt_100g           255510 non-null  float64
 8   sodium_100g         255463 non-null  float64
 9   autre               320772 non-null  float64
dtypes: float64(8), int64(1), object(1)
memory usage: 24.5+ MB

In [5]:
product_df.head(10)

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
0,0,3087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00000
1,1,4530,28.57,28.57,14.29,3.6,3.57,0.00000,0.000,21.40000
2,2,4559,17.86,0.00,17.86,7.1,17.86,0.63500,0.250,38.43500
3,3,16087,57.14,5.36,3.57,7.1,17.86,1.22428,0.482,7.26372
4,4,16094,1.43,NaN,NaN,5.7,8.57,NaN,NaN,84.30000
5,5,16100,18.27,1.92,11.54,7.7,13.46,NaN,NaN,47.11000
6,6,16117,NaN,NaN,NaN,NaN,8.89,NaN,NaN,91.11000
7,7,16124,18.75,4.69,15.62,9.4,14.06,0.13970,0.055,37.28530
8,8,16193,37.50,22.50,42.50,7.5,5.00,NaN,NaN,0.00000
9,9,16513,100.00,7.14,NaN,NaN,NaN,NaN,NaN,0.00000

In [6]:
product_df.describe(include="all").round(2)

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
count,320772.00,320749,243891.00,229554.00,244971.00,200886.00,259922.00,255510.00,255463.00,320772.00
unique,NaN,320579,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
top,NaN,70650800367,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
freq,NaN,3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
mean,160385.50,NaN,12.73,5.13,16.00,2.86,7.08,2.03,0.80,65.86
std,92599.04,NaN,17.58,8.01,22.33,12.87,8.41,128.27,50.50,32.09
min,0.00,NaN,0.00,0.00,-17.86,-6.70,-800.00,0.00,0.00,0.00
25%,80192.75,NaN,0.00,0.00,1.30,0.00,0.70,0.06,0.02,41.91
50%,160385.50,NaN,5.00,1.79,5.71,1.50,4.76,0.58,0.23,75.67
75%,240578.25,NaN,20.00,7.14,24.00,3.60,10.00,1.37,0.54,94.15
max,320771.00,NaN,714.29,550.00,3520.00,5380.00,430.00,64312.80,25320.00,889.38

In [7]:
sorted_product_df = product_df.sort_values("fat_100g", ascending=False)
product_df.head(10)

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
0,0,3087,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.00000
1,1,4530,28.57,28.57,14.29,3.6,3.57,0.00000,0.000,21.40000
2,2,4559,17.86,0.00,17.86,7.1,17.86,0.63500,0.250,38.43500
3,3,16087,57.14,5.36,3.57,7.1,17.86,1.22428,0.482,7.26372
4,4,16094,1.43,NaN,NaN,5.7,8.57,NaN,NaN,84.30000
5,5,16100,18.27,1.92,11.54,7.7,13.46,NaN,NaN,47.11000
6,6,16117,NaN,NaN,NaN,NaN,8.89,NaN,NaN,91.11000
7,7,16124,18.75,4.69,15.62,9.4,14.06,0.13970,0.055,37.28530
8,8,16193,37.50,22.50,42.50,7.5,5.00,NaN,NaN,0.00000
9,9,16513,100.00,7.14,NaN,NaN,NaN,NaN,NaN,0.00000

Articles avec un code manquant

In [8]:
mask = product_df["code"].isna()
print(mask.value_counts())
display(product_df[mask])

code
False    320749
True         23
Name: count, dtype: int64

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
189068,189068,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189103,189103,NaN,NaN,NaN,NaN,NaN,0.137,NaN,NaN,99.863
189109,189109,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189119,189119,NaN,NaN,NaN,NaN,NaN,0.122,NaN,NaN,99.878
189152,189152,NaN,NaN,NaN,NaN,NaN,0.158,NaN,NaN,99.842
189160,189160,NaN,NaN,NaN,NaN,NaN,0.156,NaN,NaN,99.844
189162,189162,NaN,NaN,NaN,NaN,NaN,0.158,NaN,NaN,99.842
189168,189168,NaN,NaN,NaN,NaN,NaN,0.120,NaN,NaN,99.880
189242,189242,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189244,189244,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189248,189248,NaN,NaN,NaN,NaN,NaN,0.120,NaN,NaN,99.880
189250,189250,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189260,189260,NaN,NaN,NaN,NaN,NaN,0.132,NaN,NaN,99.868
189262,189262,NaN,NaN,NaN,NaN,NaN,0.133,NaN,NaN,99.867
189269,189269,NaN,NaN,NaN,NaN,NaN,0.135,NaN,NaN,99.865
189272,189272,NaN,NaN,NaN,NaN,NaN,0.134,NaN,NaN,99.866
189345,189345,NaN,NaN,NaN,NaN,NaN,0.120,NaN,NaN,99.880
189362,189362,NaN,NaN,NaN,NaN,NaN,0.180,NaN,NaN,99.820
189364,189364,NaN,NaN,NaN,NaN,NaN,0.180,NaN,NaN,99.820
189379,189379,NaN,NaN,NaN,NaN,NaN,0.149,NaN,NaN,99.851
189404,189404,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189406,189406,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,100.000
189417,189417,NaN,NaN,NaN,NaN,NaN,0.158,NaN,NaN,99.842

In [12]:
negative_mask = (
    (product_df["fat_100g"] < 0)
    |
    (product_df["saturated-fat_100g"] < 0)
    |
    (product_df["sugars_100g"] < 0)
    |
    (product_df["fiber_100g"] < 0)
    |
    (product_df["proteins_100g"] < 0)
    |
    (product_df["salt_100g"] < 0)
    |
    (product_df["sodium_100g"] < 0)
    |
    (product_df["autre"] < 0)
)

In [9]:
columns_to_check = ["fat_100g",
    "saturated-fat_100g",
    "sugars_100g",
    "fiber_100g",
    "proteins_100g",
    "salt_100g",
    "sodium_100g",
    "autre",
]

negative_mask = (product_df[columns_to_check].fillna(0) < 0).any(axis=1)

In [13]:
negative_mask.value_counts()

False    320761
True         11
Name: count, dtype: int64

In [11]:
product_df[negative_mask]

,Unnamed: 0,code,fat_100g,saturated-fat_100g,sugars_100g,fiber_100g,proteins_100g,salt_100g,sodium_100g,autre
8582,8582,11213420608,0.00,0.00,-1.20,1.2,2.41,0.38354,0.151000,97.055460
18209,18209,21130493432,0.80,0.00,-0.80,0.8,0.80,0.87376,0.344000,97.182240
23784,23784,28400231053,33.33,13.33,0.00,-6.7,NaN,6.43382,2.533000,51.073180
33781,33781,36800416727,46.43,8.93,3.57,3.6,-3.57,0.99822,0.393000,39.648780
115310,115310,4029816,0.00,NaN,NaN,NaN,-500.00,25.40000,10.000000,564.600000
117739,117739,608866999263,3.57,0.00,-3.57,3.6,7.14,0.95250,0.375000,87.932500
146284,146284,789280259062,13.33,3.33,-6.67,6.7,NaN,2.03200,0.800000,80.478000
150858,150858,813922021028,6.25,1.25,-6.25,1.2,1.25,1.19380,0.470000,94.636200
164030,164030,856336001538,21.43,3.57,-17.86,17.9,17.86,1.93294,0.761000,54.406060
169119,169119,875208001230,0.00,NaN,0.00,NaN,-800.00,7.62000,3.000000,889.380000
195761,195761,3161712000928,30.00,21.00,-0.10,NaN,15.30,1.40000,0.551181,31.848819

Bonus : reprendre l'étude d'une typologie de valeurs aberrantes avec Dask.

In [ ]:
# Votre code ici